*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header */
header{    
    position: sticky;
    top: -3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px #888888;
    background-color: rgb(255, 255, 255);
}
header li{
    list-style: none;
    margin:5px 3vw 0 3vw;
    font-size: 1.5vw;
}
header img{
    width: 8.5vw;
}
/* Header */
/* Grupo Madekril */
.container_galeria{
    display: flex;
    margin: 3vw;
}
.item_galeria .img_galeria{
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-radius: 2vw;
}
/* Grupo Madekril */