*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header */
header{    
    position: sticky;
    top: -3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px #888888;
    background-color: rgb(255, 255, 255);
    z-index:4;
}
header li{
    list-style: none;
    margin:5px 3vw 0 3vw;
    font-size: 1.5vw;
}
header img{
    width: 8.5vw;
}
/* Header */
/* Serviços */
.container_servicos_laser{
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    align-items: center;
}
.servicos_text_laser{
    max-width: 40vw;
    margin: 0 3vw 0 0;
}
.servicos_text_laser h1{
    font-size: 3vw;
    color: #dbb62f;
}
.servicos_text_laser p{
    margin-top: 2vw;
    font-size: 1.4vw;
    line-height: 3vw;
    color: rgba(0, 0, 0, 0.863);
    text-align: justify;
}
.servicos_imagens_laser img{
    border-radius: 2vw;
    margin: 0 0 0 3vw;
}
.img_laser{
    width: 40vw;
}
/* cnc */
.container_servicos_cnc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vw;
    align-items: center;
}
.servicos_text_cnc{
    max-width: 40vw;
    margin: 0 0 0 3vw;
}
.servicos_text_cnc p{
    margin-top: 2vw;
    font-size: 1.4vw;
    line-height: 3vw;
    color: rgba(0, 0, 0, 0.863);
    text-align: justify;
}
.servicos_imagens_cnc img{
    border-radius: 2vw;
    margin: 0 3vw 0 0;
}
.img_cnc{
    width: 40vw;
}
/* cnc */
/* Serviços */
/* rodapé */
.rodape{
    width: 100%;
    margin-top: 10vw;
    box-shadow: 0 2px 10px #888888;
    height: 2vw;
}
/* rodapé */