*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* Header */
header{    
    position: sticky;
    top: -3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px #888888;
    background-color: rgb(255, 255, 255);
    z-index:4;
}
header li{
    list-style: none;
    margin:5px 3vw 0 3vw;
    font-size: 1.5vw;
}
header img{
    width: 8.5vw;
}
/* Header */
/* sobre */
.container_sobre{
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
    align-items: center;
}
.sobre_text{
    max-width: 45vw;
    margin: 0 0 0 3vw;
}
.sobre_text h1{
    font-size: 3vw;
    text-align: end;
    color: #dbb62f;
}
.sobre_text p{
    margin-top: 2vw;
    font-size: 1.4vw;
    line-height: 3vw;
    color: rgba(0, 0, 0, 0.863);
    text-align: justify;
}
.sobre_imagens img{
    width: 45vw;
    margin: 0 3vw 0 0;
    border-radius: 2vw;
}
/* sobre */
/* rodapé */
.rodape{
    width: 100%;
    margin-top: 3vw;
    box-shadow: 0 2px 10px #888888;
    height: 2vw;
}
/* rodapé */